<%- include('../headerLayout.ejs')%>

<div class="row">
    <div class="col-md-6">
    <h4>Edição Recém-Nascidos</h4>
    <hr>
    <br>    
    <form id="form" action="/recemNasc/edit/<%=recemNasc.idRecemNasc%>" method="post" >
            
                     
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input id="nome" type="text" name="nome" value="<%=recemNasc.nome%>">
        </div>
        <div class="form-group">
                <label for="group1">Sexo:</label>
            
                <label>
                  <input name="group1" type="radio" checked value="f"/>
                  <span>F</span>
                </label>
              
              
                <label>
                  <input name="group1" type="radio" value="m"/>
                  <span>M</span>
                </label>
              
        </div>
        <div class="form-group"> 
            <label for="date">Data Nascimento:</label>
            <input id="dateNasc" type="date" name="date" value="<%=recemNasc.date%>">           
        </div>
        <div class="form-group"> 
                <label for="time">Hora Nascimento:</label>
                <input id="timeNasc" type="time" name="time" value="<%=recemNasc.time%>">           
        </div>
        <div class="form-group"> 
                <label for="nomeMae">Nome do Mãe:</label>
                <input id="nomeMae" type="text" name="nomeMae" value="<%=recemNasc.nomeMae%>">           
        </div>
        <div class="form-group"> 
                <label for="nomePai">Nome do Pai:</label>
                <input id="nomePai" type="text" name="nomePai" value="<%=recemNasc.nomePai%>">           
        </div>
      <button type="submit" class="btn btn-info">Alterar</button>
    </form>
   
  <div>
        
    
    </div>
  </div>
  
    
</div>


 <script>

    
      $('#recemNasc').addClass('active');
 </script>




<%- include('../footerLayout.ejs')%>