
<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>

 <% if(mensagem != null){%>
        <div class="row">
		    <div class="col-lg-12 col-md-12 mb-12" style="background:#81F7D8">
             <span><%=mensagem%></span>
            </div>
        </div>
    <%}%>

<p> <a href="/recemNasc/create"> <i class="icon-plus-circled"></i>&ensp;Adicionar Novo Recém-Nascido</a> </p>           
<div class="row">
    <!-- Aqui é feito o loop e vai listando os usuários-->
    
        <table class="table table-striped">
            <thead style="background:#2d3e50; color: whitesmoke">
              <tr>
                <th scope="col">DN</th>
                <th scope="col">Nome</th>
                <th scope="col">Mãe</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
       <% for(data of recensNasc){ %>
              <tr>
                <!-- <th scope="row">1</th> -->
                <td><b><%= data.idRecemNasc %></b></td>
                <td><%= data.nome %></td>
                <td><%= data.nomeMae %></td>
                <td> <a href="/recemNasc/edit/<%=data.idRecemNasc%>"> Editar </a>||
                    <a href="/recemNasc/details/<%=data.idRecemNasc%>">Detalhes</a> ||                   
                    <a href="/recemNasc/delete/<%=data.idRecemNasc%>">Deletar</a></td>
              </tr>
       <% } %>      
            </tbody>
        </table>
                                   
    
</div>

<script>
    $('#recemNasc').addClass('active');
</script>

<!-- Inclui o layout de rodapé-->
<%- include('../footerLayout.ejs')%>



  