<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>

      

        
         

    <div class="row">
          <div class="col-md-12">
            <h4>Seleção de Incubadora</h4>
            <hr>
            <br>  
        </div>
        
        <!-- Aqui é feito o loop e vai listando as incubadoras-->
        <% for(data of incubadoras){ %>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incubadora
                            <span class="float-right">
                                <%= data.idIncubadora %>
                            </span>
                        </h4>
                        <p class="card-text">
                            <form action="/internacao/create/<%= data.idIncubadora%>" method="POST">
                                
                                <label>Descrição:</label>
                                <%= data.descIncubadora %>
                                    <br />


                                    <label>Status:</label>
                                    
                                            <b>vazia</b>

                                    <input type="hidden" id="idRecemNasc" name="idRecemNasc" value='<%= idRecemNasc%>'>        
                                    <button type="submit" class="btn waves-effect waves-light green float-right">Selecionar</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            

            <% } %>
         </div>
      

    <script>
        
        $('#').addClass('active');
    </script>

    <!-- Inclui o layout de rodapé-->
    <%- include('../footerLayout.ejs')%>